#etch-area * tbody{
    border: 1px solid #0000ff;
    background-color: silver;
}

#etch-area * tr {
    display: block;
}

#etch-area * td {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.colored{
    background-color: #000000;
}