#etch-area{
    border: 1px solid #000000;
    background-color: silver;
    margin: 0px;
    padding: 0px;
    float: left;
}

.etch-row{
    clear: both;
    border: none;
}

.etch-pix{
    border: none;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
}

.colored{
    background-color: #000000;
}